body {
  font : 1.2em Verdana,Tahoma
}

.TodoList {
  width: 80%;
  margin: 0 auto;
  background-color: #e4e4e4;
  padding: 5px 15px;
  border: 1px solid #404040;

}

.completed {
  text-decoration: line-through;
}

.completed span {
  color: #adadad
}

li {
  margin-bottom: 20px
}