body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


/* header */
header {
  height: 80px;
  background-color: rgb(53, 53, 53)
}

header img {
  width: 110px;
  height: 80px;
}

header span {
  color: #fff;
  font:2.5em Verdana, Tahoma;
  display: inline-block;
  margin: 20px 0 0 30px;
  vertical-align: top
}


.memeBody {
  width: 100%;
  text-align: center;
  margin-top: 30px
}

.memeBody input {
  margin: 0 10px;
  height: 25px;
}

.memeBody button {
  height: 31px;
  border: 0;
  background-color: rgb(53, 53, 53);
  color: #fff
}

.memeBody img {
  margin-top: 30px
}

.memeDisplay {
    position: relative;
}

.memeDisplay img {
  max-width: 90%;
}

.topText , .bottomText {
  color: rgb(252, 0, 0);
  font: 2em Verdana, Tahoma, Arial;
  position: absolute;
  margin-left: 0;
  margin-right: 0;
  left: 0;
  right: 0
}

.topText {
  top: 0;
}

.bottomText {
  bottom: 0
}